---
#
# Ansible managed
#
language: python

os: linux
dist: xenial

python:
  - "3.9"

services:
  - docker

cache:
  - pip

install:
  - pip install --upgrade pip
  - pip install yamllint
  - pip install flake8
  - pip install ansible-compat==0.5.0 # see https://github.com/ansible-community/molecule/issues/3404
  - pip install ansible-lint

script:
  - yamllint .
  - ansible-lint

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
  email: false
